/* DASHBOARD */

#dashboard_header {
	width: 80%;
	margin: 30px auto 50px auto;
}
#dashboard_header h1{
	display: inline-block;
	font-size: 2rem;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

#dashboard_header p {
	float: right;
}
#dashboard_header p i {
	margin-right: 5px;
}

#highlighted_forms_section {
	
}

h3 {
	margin: 10px 0 20px 0;
	padding: 0;
	font-size: 1.3rem;
	font-weight: 300;
}

.form_list li{
	padding: 10px;
	display: inline-block;
	margin: 6px 0 6px 0;
	padding: 10px;
	width: 95%;
	cursor: pointer;
}
.form_list li a{
	margin: 10px;
	height: 100%;
}
.form_list li i{
	margin-right: 5px;
}

.form_list li p{
	display: inline-block;
	padding: 0;
	margin: 0 10px 0 10px;
	float: right;
}
.form_list li .form_status {
	width: 230px;
	text-align: left;
}


#highlighted_forms_section ul {

}


.form_list {
	display: block;
	width: 80%;
	min-height: 140px;
	vertical-align: top;
	margin: 0 auto 40px auto;
	padding: 0px 20px 50px 20px;
}

#submitted_forms {
	border: 0px solid green;
}

#submitted_forms li {
	border-top: 1px solid green;
	
}
#submitted_forms  li:hover {
	background-color: green;
	color: white;
}

#pending_forms {
	border: 1px solid orange;
}
#pending_forms li {
	border-top: 1px solid orange;
	
}
#pending_forms  li:hover {
	background-color: orange;
	color: white;
}


/* PREVIOUS CYCLES */
#previous_cycles {
	border: 0px solid grey;
}
#previous_cycles li {
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	display: block;
	margin: 10px 0 20px 0;
	font-size: 1.5em;
}

#previous_cycles details {
	cursor: pointer;
}

#previous_cycles summary {
	user-select: none;
	font-size: 1.2rem;
	font-weight: 300;
}

#previous_cycles details li {
	font-size: initial;
	display: block;
	margin: 20px 0 0 0;
	padding: 10px 10px 10px 30px;
	border-top: 1px solid grey;
}
#previous_cycles details li:hover {
	background-color: grey;
	color: white;
}


