/* DATA ENTRY WIZARD */

#commodity_list {
	text-align: center;
}

#commodity_list  h1{
	display: inline-block;
	width: 95%;
	min-width: 800px;
	text-align: left;
	font-weight: 300;
	font-size: 1.4rem;
	margin-bottom: 30px;
}

#commodity_list li {
	display: inline-block;
	width: 95%;
	height: auto;
	min-width: 800px;
	border-top: 1px solid black;
	padding: 7px 0 0 0;
	text-align: left;
	margin-bottom: 10px;
	overflow: hidden;
	font-size: .9rem;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;
}

#commodity_list li .commodity_status_text{
	position: inline-block;
	float: right;
	padding: 0 40px 0 0;
	margin: 0;
}

#commodity_list h3 {
	display: inline-block;
	font-size: 1.2em;
	font-weight: 300;
	margin: 0;
	padding: 0 0 7px 10px;
}

#commodity_list .completed_element {
	background-color: #449d44;
	color: white;
	border-top: 0px solid black;
	cursor: pointer;
}


#commodity_list .not_applicable {
	background-color: #CFD8DC;
	color: black;
	border-top: 0px solid black;
}
#commodity_list .not_applicable .expandable_data_entry {
	background-color: #CFD8DC;
}

#commodity_list .not_applicable .expandable_data_entry .data_element_input_pair {
	border: 2px solid #CFD8DC;
}
#commodity_list .not_applicable input {
	color: ebebe4;
	background-color: #ebebe4;
}

#commodity_list .current_element {
	border: 2px solid orange;
	background-color: orange;
	color: white;
}

#commodity_list .expandable_data_entry{
	display: none;
	position: relative;
	min-height: 220px;
	margin: 0 0 0 0;
	padding: 1px 20px 20px 20px;
	background-color: white;
	cursor: initial;
	font-size: initial;
	color: initial;

}

#commodity_list .not_applicable_wraper{
	display: block;
	position: absolute;
	right: 20px;
	top: -45px;
	padding: 5px;
	margin: 10px;
	font-size: .9rem;
	border-bot: 1px dashed black;
	cursor: pointer;
}
#commodity_list .not_applicable_wraper input {
	margin-right: 7px;
	width: .9rem;
	height: .9rem;
	vertical-align: bottom;
}

#commodity_list .not_applicable_wraper input[disabled] {
	color: black;
}

#commodity_list button{
	display: block;
	position: absolute;
	right: 10px;
	bottom: 5px;
	padding: 10px 15px;
	margin: 20px;
	background-color: #449d44;
	color: white;
	cursor: pointer;
	font-weight: 300;
	font-size: .9rem;
	text-align: center;
	border: none;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;
}
#commodity_list button:hover {
	opacity: 0.8;
}

#commodity_list .data_element_input_pair {
	display: inline-block;
	margin-right: 0px;
	margin-bottom: 30px;
	vertical-align: bottom;
	padding: 10px;
	border: 2px solid white;
	width: 110px;
}


#commodity_list p {
	font-size: .9rem;
	padding-top: 5px;
	padding-left: 15px;
	font-style: italic;
	margin-bottom: 10px;
}

#commodity_list label {
	width: 110px;
	font-family: 'Open Sans', sans-serif;
	font-size: .9rem;
	display: block;
	margin-bottom: 10px;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;

}
#commodity_list .data_element_input {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	display: block;
	width: 100%;
}
#commodity_list .data_element_input::-webkit-outer-spin-button,
#commodity_list .data_element_input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

#commodity_list .calculated_input {
	border: 0px solid black;
	background-color: white;
}

#commodity_list .notes {
	width: 240px;
}

#bottom_menu a {
	display: inline-block;
	width: 200px;
	margin: 10px auto 10px auto;
	padding: 8px 20px 8px 20px;
	border: 0px solid black;
	font-size: 1rem;
	background-color: #449d44;
	text-align: center;
	color: white;
	cursor: pointer;
}
#bottom_menu a:hover {
	opacity: .8;
}

#bottom_menu a  i {
	margin-right: 5px;
}

#arrow_icon {
	position: absolute;
	display: none;
	top: 300px;
	left: 200px;
}

/* VALIDATION MESSAGES */

#error_messages {
	max-width: auto;
	background-color: #F2DEDE;
	border: 2px solid #D9534F;
	padding: 10px 10px 20px 20px;
}
#error_messages h2 {
	font-size: 1rem;
}
#error_messages li {
	display: list-item;
	font-size: .9rem;
	border: 0px;
	cursor: inherit;
	list-style: square;
	margin-left: 5px;
}
