#sections_list {
	text-align: center;
	margin: 0;
	padding: 0;
}

#form_summary {
	text-align: center;
}

#form_summary i {
	margin-right: 5px;
}
#form_summary p {
	margin-top: 10px;
	font-size: 1.2rem;
}


#form_summary h1 {
	margin-bottom: 5px;
	font-size: 1.6rem;
	font-weight: 300;
}
#form_summary h2 {
	margin: 0;
	font-weight: 300;
}
#form_status {
	display: block;
	max-width: 100vw;
	padding: 10px;
	margin: 20px auto 40px auto;
	color: white;
	font-size: 1.1rem;
}


#sections_list li {
	display: inline-block;
	width: 98%;
	height: auto;
	min-width: 800px;
	padding: 0;
	text-align: left;
	margin: 0 0 15px 0;
	overflow: hidden;
	cursor: pointer;
	font-size: 1rem;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;
}
#sections_list li details summary {
	border-top: 1px solid black;
	display: inline-block;
	font-size: 1.3em;
	font-weight: 300;
	margin: 10px 0 10px 0;
	padding: 10px;
	width: 100%;
}

#sections_list h3  i{
	margin-left: 10px;

}

#sections_list .hidden_list_section{
	display: block;
	position: relative;
	margin: 0;
	padding: 0 20px 20px 20px;
	background-color: inherit;
	cursor: initial;
	font-size: initial;

}

#sections_list  th, td{
	border: 1px solid black;

}
th, td {
	width: 100px;
	height: 40px;
	padding: 5px;
}

tr:nth-child(even) {background-color: #f2f2f2}
tr:nth-child(odd) {background-color: white}
tr:hover {background-color: #276696; color: white;}
tr:first-child td {
    background-color: #276696; color: white;
}

#sections_list table {
	width: 100%;
	border-collapse: collapse;
	border: 0px solid black;
}

#sections_list table .title {
	width: 400px;
	background-color: light-grey;
}

#summary_navigation {
	text-align: center;
	margin-bottom: 40px;
}

#summary_navigation button {
	margin: 10px 10px 10px 10px;
	padding: 10px 20px 10px 20px;
	min-width: 11rem;
	font-size: 1.4rem;
	color: white;
	background-color: #4CAF50;
	border: none;
	box-shadow: 1px 1px 5px #888888;
	cursor: pointer;
} 
#summary_navigation button:hover {
	opacity: .8;
}

#summary_navigation i {
	margin-right: 10px;
}

#confirmation_box {
	display: none;
	position: fixed;
	top: 0;
	margin: 0 auto 0 auto;
	padding: 50px 10px 50px 10px;
	background-color: white;
	border: 3px solid #f0ad4e;
	width: 60vw;
	color: black;
	text-align: center;
	font-size: 1.6rem;
}

#confirmation_box p {
	margin-bottom: 50px;
}

#confirmation_box button {
	margin: 0 10px 0 10px;
	padding: 5px;
	min-width: 150px;
	font-size: 1rem;
	cursor: pointer;
}

