#program_title_header {
	text-align: center;
}

#program_title_header i {
	margin-right: 5px;
}
#program_title_header p {
	font-size: 1.2rem;
}

#program_title_header h1 {
	font-size: 1.5rem;
	margin: 40px 0 10px 0;
	font-weight: 300;
}

#sections_list {
	text-align: center;
	padding-top: 40px;
}

#sections_list  h2{
	display: inline-block;
	min-width: 800px;
	text-align: left;
	width: 60%;
	font-size: 1.3em;
	vertical-align: top;
	font-weight: 300;
}



#sections_list li {
	display: inline-block;
	width: 60%;
	height: auto;
	min-width: 800px;
	border-top: 1px solid #1D5288;
	padding: 15px;
	text-align: left;
	margin-bottom: 15px;
	overflow: hidden;
	font-size: 1.1rem;
	font-weight: 300;
	
}

#sections_list .current_section {
	border: 2px solid #f0ad4e;
}
#sections_list .current_section a:hover {
	opacity: .8;
}
#sections_list .hidden_list_section {
	padding-bottom: 30px;
	display: none;
	text-align: center;
	margin-top: 35px;
}
#sections_list .completed_section {
	background-color: #449d44;
	border: 0px solid black;
	cursor: pointer;
	color: white;
}
#sections_list .completed_section:hover {
	opacity: .8;
}

#sections_list .not_applicable {
	background-color: #f0ad4e;
}

.not_applicable_wraper  {
	margin-top: 12px;
	
}

.not_applicable div {
	margin-top: initial;
	display: inline-block;
	float: right;
}

#sections_list a {
	display: inline-block;
	border: 0px solid black;
	margin: 10px;
	padding: 15px 40px 15px 40px;
	min-width: 150px;
	font-size: 1.1rem;
	background: #449d44;
	color: white;
	cursor: pointer;
}

#sections_list .skip_button {
	background-color: #f0ad4e;
}
#sections_list p {
	display: inline-block;
	margin: 0;
	padding: 0;
}
#sections_list i {
	margin-right: 5px;
}
#sections_list .section_status {
	display: inline-block;
	float: right;
	font-size: 0.9rem;

}

#arrow_icon {
	position: absolute;
	display: none;
	top: 200px;
	left: 100px;
}
