#facility_list {
	text-align: center;
}

#facility_list h2 {
	margin: 30px 0 30px 0;
}

#facility_list li {
	display: block;
	padding: 0;
	border: 1px solid black;
	margin: 10px auto 10px auto;
	max-width: 70vw;
	text-align: left;
	overflow: auto;
} 
#facility_list li:hover {
	background-color: #276696;
	color: white;
}
#facility_list a {
	display: inline-block;
	margin: 0;
	padding: 10px 5px 10px 15px;
	font-size: 1.1rem;
}
#facility_list  i {
	margin-right: 4px;
}

#facility_list .status_element {
	float: right;
}
#facility_list .status_element p {
	display: block;
	
	margin: 10px;
	font-size: .9rem;
}

